/Deserializador.class
/Serializador.class
/SerializadorBodega.class
/SerializadorCaja.class
/SerializadorCamion.class
/SerializadorEnvio.class
/SerializadorFabrica.class
/SerializadorIngredientes.class
/SerializadorProductos.class
